<!DOCTYPE html>
<html>
	<head>
		<title>Add A Plan</title>
		<style type="text/css">
			#buttons{
				margin-left: 525px;
			}		
		</style>
	</head>
	<body>
		<div id="buttons">
			<!-- These need to link us back to the homecreen and the logout screen-->
			<a href="">Home</a>
			<a href="">Logout</a>
		</div>
		<h1>Add A Trip</h1>
		<form class='' action="" method ='post'>
			<p>Destination: <input type="text" name="destination" value=''></p>
			<p>Description: <input type="text" name="description" value=''></p>
			<p>Travel Date From: <input type="text" name="password" value=''></p>
			<p>Travel Date To: <input type="text" name="passwordconfirm" value=''></p>

			<input type="submit" name="" value='Add Trip'>
		</form>

	</body>
</html>