<!DOCTYPE html>
<html>
	<head>
		<title>Destination</title>
		<style type="text/css">
			#buttons{
				margin-left: 525px;
			}
		</style>
	</head>
	<body>
		<div id="buttons">
		<!-- These need to link us back to the homecreen and the logout screen-->
			<a href="">Home</a>
			<a href="">Logout</a>
		</div>
		<!--Have to submit the id of this destination into that h1 tag -->
		<h1>Transylvania, Romania</h1>
		<p>Planned By: Joe Shmoe</p>
		<p>Description: Stay at a castle</p>
		<p>Travel Date From: Oct 31, 2015</p>
		<p>Travel Date To: Nov. 2 2015</p>
		<br>
		<br>
		<br>
		<h2>Other Users' Joining the Trip:</h2>
		<p>Sandy Smith</p>
		<p>Mario Stevens</p>
	</body>
</html>